html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color:lightblue;
}

div {
    border: 1px solid Chocolate;
    display: block;
}

.top-nav-bar{
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #DDD;
  z-index: 9999;
  animation: pulse 5s infinite;
}
/*#FF4136*/
    @keyframes pulse {
      0% {
        background-color:#EFDFE3 ;
      }
      100% {
        background-color:#161C33;
      }
    }


nav{
  display:block;
}

nav, li, ul, img, div{
    margin: 0;
    padding: 0;
    border: 0;
    font:inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

.top-nav-bar .content{
    width: 970px;
    height: 70px;
    margin: 0 auto;
}

.content{
    padding: 0 5rem;
    margin: 0 auto;
    min-width: 37.5rem;
}

.top-nav-bar .links{
  float: right;
  color: #838994;
  font-size: 1.04rem;
  margin-top: 1.7rem;
  -webkit-font-smoothing: antialiased;
}

.top-navigation .links li.active {
    color: #4c5058;
    font-weight: 500;
   
}

.top-nav-bar .links li{

    display: inline-block;
    margin-left: 1.563rem;
    font-size: 16px; 
    color: #838994; 
    letter-spacing: 0.03em;
    

}


ul{
  list-style: none;

  display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.active a{
  font-weight: 700;
  
}

.links a{
  text-decoration: none;
  color: antiquewhite;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  text-shadow: .5px .5px black;

}

.links a:hover{
  color: #BC2430;
}

.introduction{
    background-image: url('http://i1166.photobucket.com/albums/q607/boombizzle/karmamt.jpeg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
}


.intro-content{
    padding: 0 0.938rem;
    margin: 0 auto;
    min-width: 37.5rem;

}

.introduction h1{
  font-size: 3.125rem;
  margin-top: 15rem;

}

.introduction h3{
  font-size: 2rem;
  margin-top: 1.75rem;

}

.introduction h1, .introduction h3{
  font-weight: 400;
  color: #2D2430;
  text-align: center;
  text-shadow: 1px 1px 1px whitesmoke;
}

.big-button{
    text-align: center;
    margin-top: 1.563rem;
    line-height: 1;
   margin:0 auto;
   text-align: center;
    cursor:pointer;
    color: #FFFFFF;
    /*why doesn't this (color attribute) work under the button element?*/
}

button{
    width: 9.688rem;
    background-color: #f15a29;
    border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    font-size: 1.125rem;
    
